
.classpath
.project
target/dummy-design-1.jar
target/classes/DummyDesign.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/TEST-test.java.TestDummyDesign.xml
target/surefire-reports/TEST-test.resources.TestDummyDesign.xml
target/surefire-reports/test.java.TestDummyDesign.txt
target/surefire-reports/test.resources.TestDummyDesign.txt
target/test-classes/TestDummyDesign.class
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
/target/
