{{# partial "titulo" }}
    <title> GeSoc - Egresos </title>
{{/partial}}

{{# partial "contenido" }}

	  	<body id = "categorias" >
  	<main class = "categorias_categorias">
  	<div class = "categorias_contenedor">
  	<h2 class = "mensaje_respuesta">
        	<b><u>{{mensajeOperacionCorrecta}}</u></b>
    		</h2>
        <h2> Proveedores </h2>
	        <div class = "categorias">
	             
		        <ul>
		            {{#proveedores}}
		                    <li><a href="Egresos/{{id}}">{{nombre}}</a></li>
		            {{/proveedores}}

		        </ul>

	<div class = "carga_entidades">
	         	  <a href="/Egresos/nueva-compra" class = "carga_entidad"> Nueva Compra</a>
	</div>

	        </div>
		 </div>
	    </main>    
    </body>

{{/partial}}

{{> layout.html.hbs }}