{{# partial "titulo" }}
    <title> GeSoc - Login </title>
{{/partial}}

{{# partial "contenido" }}
  	<main >
    <section class="login">
	<div class = "formulario_inicio_sesion">
	<form class="inicio-sesion" method="POST">
	
	 <h2 class = "iniciar_sesion_text">Iniciar Sesión</h2>
	 <h3>{{errorCredenciales}}</h3>
		<label class="datos" >
				<input type="text" placeholder="Ingresa tu nombre de usuario" required class = "mod" name="user">
		 </label>
		 <label class="datos" >
				<input type="password" placeholder="Ingresa tu contrasena" required class = "mod" name="password">
		 </label>

		 
		 <button id="enviar" name="enviar" type="submit" value="Iniciar sesion" class="btn">Iniciar Sesión</button>
		 
	</form>
	</div>
	
    </section>
    
    
    </main>
    
  
{{/partial}}

{{> layout.html.hbs }}
