{{# partial "titulo" }}
    <title>GeSoc - Home</title>
{{/partial}}


{{# partial "contenido" }}
   
       <div class="container">
		    <div class="carouselContainer">
		      <div class="carouselImgs slide1">
		     
		      </div>
		      <div class="carouselImgs slide2">
		
		      </div>
		      <div class="carouselImgs slide3">
		      </div>
		      <span class="prev" id="prev">
		        < </span>
		          <span class="next" id="next">
		            > </span>
		    </div>
 		</div>
 		
 		<div class="bandeja_mensajes">
 		
 		
 		
 
 		
 		</div>
 		
 		
 	

  <script src=/app.js></script>

 
{{/partial}}

{{> layout.html.hbs }}
