<html>
<head>
 	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/general.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
  	<link href="/main.css" rel="stylesheet">
</head>

<body>

	<main>	
	
		<div class="cabecera">
				<h1> Gestion de Proyectos Sociales - GeSoc </h1>
				<a href="/" id="cerrar"> Cerrar Sesion </a>
        </div>
		
          
    <nav class = "botonera" >
    			<ul class="botonera-lista" id="menu">
					<li class="botonera-lista_item"> <a href="/home"> Home </a> </li>
<!-- 					<li class="botonera-lista_item"> <a href="/login" > Iniciar Sesión </a> </li> -->
<!-- 					<li class="botonera-lista_item"> <a href="/Entidades/nueva-juridica" > Cargar entidad juridica </a> </li> -->
<!-- 					<li class="botonera-lista_item"> <a href="/Entidades/nueva-base" > Cargar entidad base </a> </li> -->
					 	<li class="botonera-lista_item"><a href="/BandejaMensajes" > Bandeja de mensajes</a></li>
<!-- 					<li class="botonera-lista_item"> <a href="/Entidades"> Entidades </a> </li> -->
					<li class="botonera-lista_item"> <a href="/Categorias" > Entidades </a> </li>
					<li class="botonera-lista_item"> <a href="/Egresos" > Egresos </a> </li>
					
				</ul>
    </nav>
       
       {{# block "contenido" }}
        {{/block}}
        
     
    
	</main>
</body>

</html>
